body {
  background-image: url("protest.jpg");
  background-color: rgb(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  margin-left: 100px;
  margin-right: 100px;

}


/* .bckgrnd { background-image: url("protest.jpg");
opacity: 0.2
background-size: contain; */


h1 { text-align:center;
  /* font-family: 'Lobster'; */
  font-size:60px;
  /* font-family: 'Darker Grotesque', sans-serif; */
  font-family: 'Lobster', cursive;
}

h2 {
text-align: center;
  color: #A10702;
  font-family: 'Barriecito', cursive;
    font-size:40px;
}
p {
  color: darkred;
  font-size: 20px;
  margin: 50px;

}
.button1 {
color: blue;
/* align: center; */
border-radius: 40px;

}

.txlaw {
  /* background-color: lightsalmon ; */
  padding: 10px ;
  margin: 0px;
 border-radius: 25px;
  border: 1px solid brown;

}

.boxed {  background-color: #ffa50033 ;
 padding: 10px ;
 margin: 0px;
border-radius: 25px;
 border: 1px solid brown;
}

.firstbg {
background-color: pink;
border-radius: 25px;
margin: 30px;}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 15%;
}

article{ text-align: center;}

.backgroundsecond {
  background-color: #FBC47D;
  border-radius: 25px;
margin: 30px; }

center {font-size: 20px;
font-family: 'Roboto Condensed', sans-serif;
text-align: center;

}

h3 {font-family: 'Signika', sans-serif;
 }
